@font-face {
  font-family: "Accuratist";
  src: url("/fonts/Accuratist.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
}

body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.content {
  margin: 2% 5%;
  flex: 1 0 auto;
}

button {
  background-color: #39796b;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  opacity: 95%;
  transition: opacity 2s;
}

button:hover {
  opacity: 100%;
}
button:active {
  transform: scale(1.1);
}

/* nav styles */
.hamburger {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger i {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  color: white;
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: text-shadow 0.5s ease-out;
}

.nav-links a:hover,
a:focus {
  text-shadow: 0 0 5px #ceceec;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* dark mode */
.dark body {
  background-color: #00251a;
  color: white;
}

.dark .nav-links a {
  color: white;
}
