---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";

const identity = {
  firstName: "Evan",
  occupation: "Fullstack Developer",
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "Go",
  "Postgres",
  "MongoDB",
  "Astro",
];

const happy = true;
const finished = true;
const goal = 3;

const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }

    .skill {
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }

    ul {
      list-style-position: inside;
    }

    div {
      margin: 10px auto;
    }
  </style>
  <div>
    <p>My name is {identity.firstName}. I am a {identity.occupation}.</p>
  </div>
  <div>
    <p>My skills:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>

  <!-- {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished tutorial!</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  } -->
</BaseLayout>
