---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";

const identity = {
  firstName: "Evan",
  occupation: "Fullstack Developer",
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "Go",
  "Postgres",
  "MongoDB",
  "Astro",
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "black";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }

    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <div>
    <h2>Here's I'm trying out Astro</h2>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I am a {identity.occupation}.</li>
    </ul>
  </div>
  <div>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>

  <!-- {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished tutorial!</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  } -->
</BaseLayout>
