---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Disclaimer";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    The information provided on <b>https://twofold-one.netlify.app</b> is for general
    informational purposes only. While the author has made every effort to ensure
    the information is correct at time of publication there are no representations
    or warranties, express or implied, about the completeness, accuracy, reliability,
    suitability or availability with respect to the information, recommendations,
    products, services, or related graphics contained on this website for any purpose.
    Any use of this information is at your own risk. The author will not be liable
    to you or anyone else for any decision made or action taken in reliance on the
    information on this website or for any consequential, special or similar damages,
    even if advised of the possibility of such damages.
  </p>
</BaseLayout>
