---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I'm gonna post some good stuff here.</h2>
  <Greeting client:load messages={["Hi", "Hello", "Hey there"]} />
</BaseLayout>
