---
const { title, url } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
</li>

<style>
  a {
    text-decoration: none;
    color: inherit;
    transition: text-shadow 0.5s;
  }

  a:hover {
    text-shadow: 0 0 5px #39796b;
    font-weight: bold;
  }
</style>
