---
import Social from "./Social.astro";
---

<style>
  footer {
    background-color: #39796b;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    flex-shrink: 0;
  }
</style>

<footer>
  <Social
    platform="github"
    username="twofold-one"
    iconClass="fa-brands fa-github"
  />
  <div>
    <h2>Twofold-One</h2>
  </div>
</footer>
